<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/diamond_shop/background_item_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,3},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>ui/diamond_shop/line_item.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,3},{16,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,2}</string>
			</dict>
			<key>ui/diamond_shop/background_use_histry_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{750,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,75}</string>
			</dict>
			<key>ui/diamond_shop/background_use_histry_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,137},{750,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,75}</string>
			</dict>
			<key>ui/diamond_shop/line_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,84},{322,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,2}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>diamond_shop.png</string>
			<key>realTextureFileName</key>
			<string>diamond_shop.png</string>
			<key>size</key>
			<string>{1024,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>