<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/dungeon/image_plate_score_line_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,952},{10,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,15}</string>
			</dict>
			<key>ui/dungeon/image_plate_score_line_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,952},{10,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,15}</string>
			</dict>
			<key>ui/dungeon/image_plate_score_point_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,936},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>ui/dungeon/image_plate_score_point_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,979},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>ui/dungeon/image_list_mission_complete_m.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,792},{160,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,102}</string>
			</dict>
			<key>ui/dungeon/image_list_mission_trophy_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,990},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>ui/dungeon/image_list_mission_trophy_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,990},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>ui/dungeon/image_list_mission_trophy_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,990},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>ui/dungeon/image_list_mission_trophy_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,990},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>ui/dungeon/image_list_mission_trophy_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,894},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>ui/dungeon/image_list_mission_trophy_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,972},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>ui/dungeon/image_floor_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,973},{115,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,50}</string>
			</dict>
			<key>ui/dungeon/image_floor_02_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,462},{115,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,231}</string>
			</dict>
			<key>ui/dungeon/image_floor_02_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,462},{115,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,231}</string>
			</dict>
			<key>ui/dungeon/image_floor_bl_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,590},{10,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,92}</string>
			</dict>
			<key>ui/dungeon/image_floor_bl_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,293},{10,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,92}</string>
			</dict>
			<key>ui/dungeon/image_floor_bl_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,590},{10,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,268}</string>
			</dict>
			<key>ui/dungeon/image_floor_bl_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,590},{10,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,268}</string>
			</dict>
			<key>ui/dungeon/image_baloon_now.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,416},{72,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,83}</string>
			</dict>
			<key>ui/dungeon/image_breakpoint_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,1},{61,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,158}</string>
			</dict>
			<key>ui/dungeon/image_breakpoint_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,1},{61,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,158}</string>
			</dict>
			<key>ui/dungeon/image_floor_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,505},{75,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,83}</string>
			</dict>
			<key>ui/dungeon/image_floor_step.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,695},{119,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,80}</string>
			</dict>
			<key>ui/dungeon/image_list_reward_frame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,462},{220,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,163}</string>
			</dict>
			<key>ui/dungeon/image_list_reward_frame_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,627},{220,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,163}</string>
			</dict>
			<key>ui/dungeon/image_list_gate_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,311},{448,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{448,149}</string>
			</dict>
			<key>ui/dungeon/image_list_gate_mission_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,896},{99,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,54}</string>
			</dict>
			<key>ui/dungeon/image_list_gate_mission_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,952},{99,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,54}</string>
			</dict>
			<key>ui/dungeon/image_plate.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,894},{45,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,40}</string>
			</dict>
			<key>ui/dungeon/image_plate_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,894},{36,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,50}</string>
			</dict>
			<key>ui/dungeon/image_plate_grd.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,695},{6,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,80}</string>
			</dict>
			<key>ui/dungeon/image_window.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,194},{250,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,103}</string>
			</dict>
			<key>ui/dungeon/image_plate_square.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,299},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>ui/dungeon/image_list_gate_mission.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,946},{96,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,42}</string>
			</dict>
			<key>ui/dungeon/image_crown.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,936},{47,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,34}</string>
			</dict>
			<key>ui/dungeon/image_ef_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{308,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,308}</string>
			</dict>
			<key>ui/dungeon/image_mission_cup.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,194},{86,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,97}</string>
			</dict>
			<key>ui/dungeon/icon_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,416},{72,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,87}</string>
			</dict>
			<key>ui/dungeon/image_text_floor_en.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,896},{89,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,48}</string>
			</dict>
			<key>ui/dungeon/image_entrance.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,695},{104,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,93}</string>
			</dict>
			<key>ui/dungeon/image_plate_clear.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,973},{95,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,49}</string>
			</dict>
			<key>ui/dungeon/button_info_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,777},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>
			<key>ui/dungeon/button_info_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,299},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>
			<key>ui/dungeon/image_circle_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,792},{180,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,179}</string>
			</dict>
			<key>ui/dungeon/image_enemies.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,1},{259,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{259,191}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>quest_dungeon.png</string>
			<key>realTextureFileName</key>
			<string>quest_dungeon.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>