<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/dungeon/image_map_result_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,871},{49,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,58}</string>
			</dict>
			<key>ui/dungeon/image_map_result_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,766},{106,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,58}</string>
			</dict>
			<key>ui/dungeon/image_map_result_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,706},{318,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{318,58}</string>
			</dict>
			<key>ui/dungeon/image_map_result_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,766},{305,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,58}</string>
			</dict>
			<key>ui/dungeon/image_map_result_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,950},{84,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,60}</string>
			</dict>
			<key>ui/dungeon/image_map_result_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,392},{327,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{327,300}</string>
			</dict>
			<key>ui/dungeon/image_map_top_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,950},{62,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,74}</string>
			</dict>
			<key>ui/dungeon/image_map_top_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,826},{132,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,73}</string>
			</dict>
			<key>ui/dungeon/image_map_top_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,925},{313,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,73}</string>
			</dict>
			<key>ui/dungeon/image_map_top_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,925},{313,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,73}</string>
			</dict>
			<key>ui/dungeon/image_map_top_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,901},{105,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,74}</string>
			</dict>
			<key>ui/dungeon/image_map_top_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{320,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,389}</string>
			</dict>
			<key>ui/dungeon/image_plate_score_circle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,392},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>
			<key>ui/dungeon/image_plate_score_circle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,549},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>
			<key>ui/dungeon/image_plate_score_circle_ef_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,721},{201,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,202}</string>
			</dict>
			<key>ui/dungeon/image_plate_score_circle_ef_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,721},{201,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,202}</string>
			</dict>
			<key>ui/dungeon/image_plate_score_line_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1000},{10,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,15}</string>
			</dict>
			<key>ui/dungeon/image_plate_score_line_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{13,1000},{10,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,15}</string>
			</dict>
			<key>ui/dungeon/image_plate_score_point_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,931},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>ui/dungeon/image_plate_score_point_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,974},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>ui/dungeon/image_text_clear.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,826},{167,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,81}</string>
			</dict>
			<key>ui/dungeon/image_text_congratulations_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,826},{159,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,43}</string>
			</dict>
			<key>ui/dungeon/title_extra_quest.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,901},{160,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,47}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>quest_dungeon_top.png</string>
			<key>realTextureFileName</key>
			<string>quest_dungeon_top.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>