<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/common/common_ranking/button_slider_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,104},{91,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,84}</string>
			</dict>
			<key>ui/common/common_ranking/button_slider_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,190},{91,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,84}</string>
			</dict>
			<key>ui/common/common_ranking/image_slider_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,276},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>ui/common/common_ranking/image_slider_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1},{101,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,92}</string>
			</dict>
			<key>ui/common/common_ranking/image_slider_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,591},{37,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,35}</string>
			</dict>
			<key>ui/common/common_ranking/image_ranking_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,284},{3,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,2}</string>
			</dict>
			<key>ui/common/common_ranking/image_ranking_list_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1293},{158,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,159}</string>
			</dict>
			<key>ui/common/common_ranking/image_hexagon.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1015},{159,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,185}</string>
			</dict>
			<key>ui/common/common_ranking/button_ranking_list_touch.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{666,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{666,258}</string>
			</dict>
			<key>ui/common/common_ranking/button_reward_list_touch.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,261},{734,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{734,233}</string>
			</dict>
			<key>ui/common/common_ranking/image_plate.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,403},{45,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,40}</string>
			</dict>
			<key>ui/common/common_ranking/image_plate_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,476},{36,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,50}</string>
			</dict>
			<key>ui/common/common_ranking/image_quest_title_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,528},{10,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,51}</string>
			</dict>
			<key>ui/common/common_ranking/image_quest_title_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,581},{10,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,51}</string>
			</dict>
			<key>ui/common/common_ranking/image_quest_title_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,450},{10,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,51}</string>
			</dict>
			<key>ui/common/common_ranking/image_square.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,327},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>ui/common/common_ranking/image_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,552},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>ui/common/common_ranking/image_quest_level_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,528},{80,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,22}</string>
			</dict>
			<key>ui/common/common_ranking/image_quest_level_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,610},{80,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,22}</string>
			</dict>
			<key>ui/common/common_ranking/image_quest_level_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,450},{80,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,22}</string>
			</dict>
			<key>ui/common/common_ranking/image_chara_bg_lottery.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,726},{160,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,287}</string>
			</dict>
			<key>ui/common/common_ranking/image_chara_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,348},{126,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,36}</string>
			</dict>
			<key>ui/common/common_ranking/image_window_rankup.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,261},{750,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{750,111}</string>
			</dict>
			<key>ui/common/common_ranking/image_rankup_arrow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,348},{53,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,55}</string>
			</dict>
			<key>ui/common/common_ranking/button_tab_trifurcation_orange.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1176},{242,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,115}</string>
			</dict>
			<key>ui/common/common_ranking/button_ranking_list_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,1},{666,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{666,258}</string>
			</dict>
			<key>ui/common/common_ranking/button_reward_list_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,261},{734,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{734,233}</string>
			</dict>
			<key>ui/common/common_ranking/image_title_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,533},{56,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,23}</string>
			</dict>
			<key>ui/common/common_ranking/image_plate_none.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,997},{128,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,143}</string>
			</dict>
			<key>ui/common/common_ranking/image_circle_thumbnail.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,660},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ui/common/common_ranking/image_circle_none.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,261},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ui/common/common_ranking/image_ranking_bg_list_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,944},{452,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{452,166}</string>
			</dict>
			<key>ui/common/common_ranking/image_tab_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,532},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>ui/common/common_ranking/image_flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1398},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>ui/common/common_ranking/icon_attention.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,628},{34,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,30}</string>
			</dict>
			<key>ui/common/common_ranking/icon_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,276},{70,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,84}</string>
			</dict>
			<key>ui/common/common_ranking/image_balloon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,503},{28,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,17}</string>
			</dict>
			<key>ui/common/common_ranking/image_balloon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,327},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>ui/common/common_ranking/image_grd_side.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,403},{205,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,10}</string>
			</dict>
			<key>ui/common/common_ranking/icon_guild.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,669},{276,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,273}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>common_ranking.png</string>
			<key>realTextureFileName</key>
			<string>common_ranking.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>