<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/common/common_menu/button_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{74,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,114}</string>
			</dict>
			<key>ui/common/common_menu/button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,117},{74,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,114}</string>
			</dict>
			<key>ui/common/common_menu/icon_announce.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,117},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>ui/common/common_menu/icon_archive.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,187},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>ui/common/common_menu/icon_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,117},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>ui/common/common_menu/icon_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,187},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>ui/common/common_menu/icon_friendlist.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>ui/common/common_menu/icon_giftbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,71},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>ui/common/common_menu/icon_itemstrage.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>ui/common/common_menu/icon_mission.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,141},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>ui/common/common_menu/icon_other.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,71},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>ui/common/common_menu/icon_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,1},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>ui/common/common_menu/icon_status.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,141},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>ui/common/common_menu/button_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,1},{74,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,114}</string>
			</dict>
			<key>ui/common/common_menu/icon_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,71},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>ui/common/common_menu/icon_exchangeshop.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>ui/common/common_menu/icon_notification.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,71},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>ui/common/common_menu/icon_guild.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,1},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>common_menu.png</string>
			<key>realTextureFileName</key>
			<string>common_menu.png</string>
			<key>size</key>
			<string>{512,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>