<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/common/common_ranking/image_slider.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{20,834}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,834}</string>
			</dict>
			<key>ui/common/common_ranking/image_plate_grd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,837},{6,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>common_ranking_grd.png</string>
			<key>realTextureFileName</key>
			<string>common_ranking_grd.png</string>
			<key>size</key>
			<string>{32,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>