<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/common/login_bonus_s/icon_gm.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,1},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>ui/common/login_bonus_s/icon_gm_colling_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,135},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>ui/common/login_bonus_s/icon_gm_colling_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,135},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>ui/common/login_bonus_s/icon_gm_colling_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,135},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>ui/common/login_bonus_s/image_login_bonus_background_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,73},{18,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,128}</string>
			</dict>
			<key>ui/common/login_bonus_s/image_login_bonus_background_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,139},{18,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,128}</string>
			</dict>
			<key>ui/common/login_bonus_s/image_login_bonus_tittle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{677,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{677,132}</string>
			</dict>
			<key>ui/common/login_bonus_s/image_login_bonus_tittle_diamonds.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,203},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>ui/common/login_bonus_s/icon_category_dummy.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,73},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ui/common/login_bonus_s/reward_item_dummy.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,135},{190,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,120}</string>
			</dict>
			<key>ui/common/login_bonus_s/icon_item_dummy.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,1},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>ui/common/login_bonus_s/image_get.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,257},{66,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>login_bonus_s.png</string>
			<key>realTextureFileName</key>
			<string>login_bonus_s.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>