<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/common/special_login_bonus_s/eff_dot1.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,165},{40,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,57}</string>
			</dict>
			<key>ui/common/special_login_bonus_s/eff_dot2.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,320},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>ui/common/special_login_bonus_s/eff_lightb.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,224},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>ui/common/special_login_bonus_s/eff_zoomlightb.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1},{164,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,162}</string>
			</dict>
			<key>ui/common/special_login_bonus_s/image_item_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{180,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,173}</string>
			</dict>
			<key>ui/common/special_login_bonus_s/image_item_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1},{180,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,173}</string>
			</dict>
			<key>ui/common/special_login_bonus_s/image_item_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,1},{180,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,173}</string>
			</dict>
			<key>ui/common/special_login_bonus_s/image_item_plate.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,142},{113,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,126}</string>
			</dict>
			<key>ui/common/special_login_bonus_s/image_item_ribbon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,176},{126,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,35}</string>
			</dict>
			<key>ui/common/special_login_bonus_s/image_item_ribbon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,176},{126,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,35}</string>
			</dict>
			<key>ui/common/special_login_bonus_s/image_item_ribbon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,176},{126,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,35}</string>
			</dict>
			<key>ui/common/special_login_bonus_s/image_text_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,176},{82,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,49}</string>
			</dict>
			<key>ui/common/special_login_bonus_s/image_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,176},{82,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,49}</string>
			</dict>
			<key>ui/common/special_login_bonus_s/shine1.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,270},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>ui/common/special_login_bonus_s/shine2.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1},{116,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,139}</string>
			</dict>
			<key>ui/common/special_login_bonus_s/shine3.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,165},{117,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,107}</string>
			</dict>
			<key>ui/common/special_login_bonus_s/image_get.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,270},{66,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,48}</string>
			</dict>
			<key>ui/common/special_login_bonus_s/image_item_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,1},{180,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,173}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>special_login_bonus_s.png</string>
			<key>realTextureFileName</key>
			<string>special_login_bonus_s.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>