<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/guild_menu_s/button_home_info_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,457},{128,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,150}</string>
			</dict>
			<key>ui/guild_menu_s/button_home_info_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,609},{128,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,150}</string>
			</dict>
			<key>ui/guild_menu_s/button_home_info_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,761},{128,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,150}</string>
			</dict>
			<key>ui/guild_menu_s/button_round_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>ui/guild_menu_s/button_round_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,153},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>ui/guild_menu_s/button_round_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,305},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>ui/guild_menu_s/cursor.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,409},{36,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,50}</string>
			</dict>
			<key>ui/guild_menu_s/list_button_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,457},{144,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,114}</string>
			</dict>
			<key>ui/guild_menu_s/list_button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,603},{144,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,114}</string>
			</dict>
			<key>ui/guild_menu_s/list_button_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,749},{144,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,114}</string>
			</dict>
			<key>ui/guild_menu_s/list_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,895},{16,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,90}</string>
			</dict>
			<key>ui/guild_menu_s/icon_guild_chat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,913},{110,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,111}</string>
			</dict>
			<key>ui/guild_menu_s/icon_guild_chat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,913},{110,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,111}</string>
			</dict>
			<key>ui/guild_menu_s/icon_guild_chat_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,895},{110,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,111}</string>
			</dict>
			<key>ui/guild_menu_s/icon_guild_menu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>ui/guild_menu_s/icon_guild_menu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,113},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>ui/guild_menu_s/icon_guild_menu_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,225},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>ui/guild_menu_s/icon_bulletin_board_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,673},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_bulletin_board_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,741},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_bulletin_board_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,809},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_guild_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,673},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_guild_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,741},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_guild_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,809},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_member_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,877},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_member_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,945},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_member_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,1},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_mission_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,69},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_mission_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,137},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_mission_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,205},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_notification_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,273},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_notification_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,341},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_notification_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,1},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_ranking_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,69},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_ranking_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,137},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_ranking_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,205},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_shop_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,273},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_shop_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,341},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_shop_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,409},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/logout_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,409},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>ui/guild_menu_s/icon_guild_search_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,477},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_guild_search_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,545},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_guild_search_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,613},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui/guild_menu_s/icon_guild_town_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,337},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>ui/guild_menu_s/icon_guild_town_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,449},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>ui/guild_menu_s/icon_guild_town_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,561},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>guild_menu.png</string>
			<key>realTextureFileName</key>
			<string>guild_menu.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>