<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/guild_donation_s/image_col.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{727,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{727,264}</string>
			</dict>
			<key>ui/guild_donation_s/image_donation_bank.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,264},{338,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,359}</string>
			</dict>
			<key>ui/guild_donation_s/image_donation_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,0},{215,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,14}</string>
			</dict>
			<key>ui/guild_donation_s/image_plate_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,0},{40,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,38}</string>
			</dict>
			<key>ui/guild_donation_s/image_plate_plane.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>guild_donation.png</string>
			<key>realTextureFileName</key>
			<string>guild_donation.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>