<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/guild_s/image_plate_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,217},{300,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,136}</string>
			</dict>
			<key>ui/guild_s/button_guild_icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,355},{136,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,148}</string>
			</dict>
			<key>ui/guild_s/button_guild_icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,493},{136,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,148}</string>
			</dict>
			<key>ui/guild_s/button_guild_icon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,869},{136,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,148}</string>
			</dict>
			<key>ui/guild_s/image_list_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,208},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>ui/guild_s/image_list_frame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,376},{686,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,178}</string>
			</dict>
			<key>ui/guild_s/image_list_frame_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,649},{686,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,178}</string>
			</dict>
			<key>ui/guild_s/image_plate_plane.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,371},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>ui/guild_s/image_plate_search_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,829},{97,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,45}</string>
			</dict>
			<key>ui/guild_s/image_baloon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,606},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>ui/guild_s/image_baloon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,355},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>ui/guild_s/icon_follow.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,649},{178,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,48}</string>
			</dict>
			<key>ui/guild_s/icon_follower.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,829},{178,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,48}</string>
			</dict>
			<key>ui/guild_s/icon_friend.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,556},{178,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,48}</string>
			</dict>
			<key>ui/guild_s/image_plate_grd.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,355},{6,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{6,80}</string>
			</dict>
			<key>ui/guild_s/icon_arrow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,75},{46,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,26}</string>
			</dict>
			<key>ui/guild_s/icon_arrow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,869},{46,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,26}</string>
			</dict>
			<key>ui/guild_s/icon_arrow_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,917},{46,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,26}</string>
			</dict>
			<key>ui/guild_s/button_selectbox_base_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,606},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>ui/guild_s/button_selectbox_base_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,606},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>ui/guild_s/button_selectbox_base_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,606},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>ui/guild_s/image_exp_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,829},{296,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,24}</string>
			</dict>
			<key>ui/guild_s/image_exp_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,167},{108,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,30}</string>
			</dict>
			<key>ui/guild_s/image_star_bronze.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,75},{79,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,74}</string>
			</dict>
			<key>ui/guild_s/image_star_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,556},{79,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,74}</string>
			</dict>
			<key>ui/guild_s/image_star_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,829},{79,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,74}</string>
			</dict>
			<key>ui/guild_s/image_star_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,876},{79,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,74}</string>
			</dict>
			<key>ui/guild_s/image_plate_rounded_corners.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,963},{60,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,50}</string>
			</dict>
			<key>ui/guild_s/button_thumbnail_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,123},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>ui/guild_s/button_thumbnail_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,606},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>ui/guild_s/button_thumbnail_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,606},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>ui/guild_s/image_guild_home_buff.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,891},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ui/guild_s/icon_attention_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,965},{34,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,30}</string>
			</dict>
			<key>ui/guild_s/image_thumbnail_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1},{205,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,205}</string>
			</dict>
			<key>ui/guild_s/image_change_mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,905},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>ui/guild_s/icon_guild.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,556},{178,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,48}</string>
			</dict>
			<key>ui/guild_s/icon_vicecommander.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,556},{178,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,48}</string>
			</dict>
			<key>ui/guild_s/icon_commander.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,965},{178,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,48}</string>
			</dict>
			<key>ui/guild_s/icon_guild_col.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,631},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>ui/guild_s/icon_guild_pt.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,761},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>ui/guild_s/image_guild_mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{350,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,373}</string>
			</dict>
			<key>ui/guild_s/image_guild_announcement_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,891},{100,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,50}</string>
			</dict>
			<key>ui/guild_s/image_cp_bg_guild_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,606},{31,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,27}</string>
			</dict>
			<key>ui/guild_s/icon_round_guildcol.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,943},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ui/guild_s/image_cp_bg_guild_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,829},{82,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,45}</string>
			</dict>
			<key>ui/guild_s/icon_guild_shop_limited.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1},{164,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,138}</string>
			</dict>
			<key>ui/guild_s/image_guild_frame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,869},{122,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,134}</string>
			</dict>
			<key>ui/guild_s/image_guild_frame_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,829},{122,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,134}</string>
			</dict>
			<key>ui/guild_s/image_guild_frame_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,855},{122,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,134}</string>
			</dict>
			<key>ui/guild_s/image_background_guild_shop_price_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,606},{84,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,37}</string>
			</dict>
			<key>ui/guild_s/image_background_guild_shop_price_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,606},{84,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,37}</string>
			</dict>
			<key>ui/guild_s/image_background_guild_shop_object.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,1},{214,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,210}</string>
			</dict>
			<key>ui/guild_s/image_background_guild_shop_col.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,556},{74,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,64}</string>
			</dict>
			<key>ui/guild_s/imege_guild_gauge.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,355},{292,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,40}</string>
			</dict>
			<key>ui/guild_s/bouton_connot_push.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,952},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>ui/guild_s/image_guild_home_status.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,167},{700,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{700,136}</string>
			</dict>
			<key>ui/guild_s/title_guild.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,953},{68,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,45}</string>
			</dict>
			<key>ui/guild_s/icon_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,1},{72,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,87}</string>
			</dict>
			<key>ui/guild_s/icon_gamemaster.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,891},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ui/guild_s/image_plate_grd_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,363},{80,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,6}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>guild.png</string>
			<key>realTextureFileName</key>
			<string>guild.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>