<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/guild_ranking/image_grd_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,1},{199,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,10}</string>
			</dict>
			<key>ui/guild_ranking/image_announce_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{410,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,66}</string>
			</dict>
			<key>ui/guild_ranking/image_crown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,157},{51,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,37}</string>
			</dict>
			<key>ui/guild_ranking/image_balloon_top10.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,1},{100,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,52}</string>
			</dict>
			<key>ui/guild_ranking/image_balloon_top100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,103},{100,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,52}</string>
			</dict>
			<key>ui/guild_ranking/image_balloon_top50.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,69},{100,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,52}</string>
			</dict>
			<key>ui/guild_ranking/button_help_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,69},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>
			<key>ui/guild_ranking/button_help_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,69},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>
			<key>ui/guild_ranking/image_frame_guild.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,202},{121,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,122}</string>
			</dict>
			<key>ui/guild_ranking/icon_round_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,103},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>guild_ranking.png</string>
			<key>realTextureFileName</key>
			<string>guild_ranking.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>