<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/user_title/image_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{685,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{685,198}</string>
			</dict>
			<key>ui/user_title/tittle_win_title_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,90},{162,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,45}</string>
			</dict>
			<key>ui/user_title/image_degree_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,2},{220,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,40}</string>
			</dict>
			<key>ui/user_title/image_degree_platinum_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,46},{220,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,40}</string>
			</dict>
			<key>ui/user_title/image_list_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,204},{685,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{685,198}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>user_title.png</string>
			<key>realTextureFileName</key>
			<string>user_title.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>