<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/game_s/button_character_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1655,475},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>ui/game_s/button_character_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1079,409},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>ui/game_s/button_menu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1110,1070},{252,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,72}</string>
			</dict>
			<key>ui/game_s/button_menu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1110,1146},{252,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,72}</string>
			</dict>
			<key>ui/game_s/button_menu_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,1168},{252,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,72}</string>
			</dict>
			<key>ui/game_s/button_skill_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,559},{438,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{438,144}</string>
			</dict>
			<key>ui/game_s/character_gauge_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,409},{470,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{470,146}</string>
			</dict>
			<key>ui/game_s/character_gauge_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1523,844},{102,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,9}</string>
			</dict>
			<key>ui/game_s/character_gauge_s_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,993},{144,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,34}</string>
			</dict>
			<key>ui/game_s/cut_in_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{600,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,303}</string>
			</dict>
			<key>ui/game_s/cut_in_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,2},{300,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,307}</string>
			</dict>
			<key>ui/game_s/cut_in_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1579,1363},{460,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{460,120}</string>
			</dict>
			<key>ui/game_s/cut_in_text_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1881,258},{75,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,90}</string>
			</dict>
			<key>ui/game_s/enemy_hp_bar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1582,1299},{153,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,31}</string>
			</dict>
			<key>ui/game_s/enemy_hp_bar_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1859,535},{16,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,12}</string>
			</dict>
			<key>ui/game_s/enemy_hp_bar_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1264},{177,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,56}</string>
			</dict>
			<key>ui/game_s/header_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,2},{750,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,174}</string>
			</dict>
			<key>ui/game_s/icon_next_stage.png</key>
			<dict>
				<key>frame</key>
				<string>{{1943,588},{99,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,52}</string>
			</dict>
			<key>ui/game_s/icon_treasure.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,407},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>ui/game_s/image_guardgauge.png</key>
			<dict>
				<key>frame</key>
				<string>{{1579,1334},{150,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,14}</string>
			</dict>
			<key>ui/game_s/image_guardgauge_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{1582,1247},{210,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,48}</string>
			</dict>
			<key>ui/game_s/job_icon_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{1859,666},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>ui/game_s/job_icon_dummy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1859,475},{16,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,56}</string>
			</dict>
			<key>ui/game_s/treasure_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{1796,1287},{172,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,46}</string>
			</dict>
			<key>ui/game_s/icon_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,309},{40,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,66}</string>
			</dict>
			<key>ui/game_s/image_combo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1569,435},{82,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,49}</string>
			</dict>
			<key>ui/game_s/image_combo_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,1068},{249,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,96}</string>
			</dict>
			<key>ui/game_s/skill_icon_dummy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,514},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>ui/game_s/cut_in_character_dummy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,313},{205,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,205}</string>
			</dict>
			<key>ui/game_s/image_character_background_frame_m_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1341,522},{180,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,203}</string>
			</dict>
			<key>ui/game_s/image_character_background_frame_m_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,679},{180,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,203}</string>
			</dict>
			<key>ui/game_s/image_character_background_m.png</key>
			<dict>
				<key>frame</key>
				<string>{{1832,762},{180,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,203}</string>
			</dict>
			<key>ui/game_s/character_thumbnail_sample.png</key>
			<dict>
				<key>frame</key>
				<string>{{1705,969},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>ui/game_s/icon_party.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,429},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>ui/game_s/image_battle_information_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,2},{313,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,252}</string>
			</dict>
			<key>ui/game_s/image_trophy_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,309},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>ui/game_s/image_trophy_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,358},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>ui/game_s/image_trophy_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,457},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>ui/game_s/image_trophy_gray_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,506},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>ui/game_s/image_trophy_gray_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,409},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>ui/game_s/image_trophy_gray_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,458},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>ui/game_s/image_configuration_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,448},{80,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,62}</string>
			</dict>
			<key>ui/game_s/image_damage.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1174},{190,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,86}</string>
			</dict>
			<key>ui/game_s/image_gesture_sentence_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,309},{508,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{508,144}</string>
			</dict>
			<key>ui/game_s/image_gesture_sentence_choice.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,457},{508,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{508,144}</string>
			</dict>
			<key>ui/game_s/image_talk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,605},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>
			<key>ui/game_s/image_talk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,673},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>
			<key>ui/game_s/image_talk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,741},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>
			<key>ui/game_s/button_skill_1_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,605},{438,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{438,144}</string>
			</dict>
			<key>ui/game_s/button_skill_1_earth.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,707},{438,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{438,144}</string>
			</dict>
			<key>ui/game_s/button_skill_1_fire.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,753},{438,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{438,144}</string>
			</dict>
			<key>ui/game_s/button_skill_1_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,855},{438,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{438,144}</string>
			</dict>
			<key>ui/game_s/button_skill_1_unattributed.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,901},{438,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{438,144}</string>
			</dict>
			<key>ui/game_s/button_skill_1_water.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1003},{438,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{438,144}</string>
			</dict>
			<key>ui/game_s/button_skill_1_wind.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1049},{438,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{438,144}</string>
			</dict>
			<key>ui/game_s/image_time_limt_window.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,295},{750,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,110}</string>
			</dict>
			<key>ui/game_s/image_attention_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,799},{134,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,54}</string>
			</dict>
			<key>ui/game_s/line_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1299},{655,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{655,3}</string>
			</dict>
			<key>ui/game_s/image_list_plate_lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,857},{142,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,29}</string>
			</dict>
			<key>ui/game_s/image_rank_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,1316},{300,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,50}</string>
			</dict>
			<key>ui/game_s/icon_duel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1981,2},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ui/game_s/image_list_condition.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,507},{54,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,30}</string>
			</dict>
			<key>ui/game_s/image_list_plate_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1523,778},{90,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,29}</string>
			</dict>
			<key>ui/game_s/image_list_plate_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1523,811},{90,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,29}</string>
			</dict>
			<key>ui/game_s/button_generic_l_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,1137},{220,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,106}</string>
			</dict>
			<key>ui/game_s/button_generic_l_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,954},{220,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,106}</string>
			</dict>
			<key>ui/game_s/button_generic_l_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1064},{220,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,106}</string>
			</dict>
			<key>ui/game_s/image_enemy_quantity_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1067,1294},{204,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,60}</string>
			</dict>
			<key>ui/game_s/image_enemy_quantity_label.png</key>
			<dict>
				<key>frame</key>
				<string>{{1523,738},{95,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,36}</string>
			</dict>
			<key>ui/game_s/image_score_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1923,644},{111,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,114}</string>
			</dict>
			<key>ui/game_s/image_plate.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,415},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>ui/game_s/button_testplay_chara_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,613},{178,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,178}</string>
			</dict>
			<key>ui/game_s/button_testplay_chara_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1341,729},{178,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,178}</string>
			</dict>
			<key>ui/game_s/button_testplay_chara_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1523,886},{178,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,178}</string>
			</dict>
			<key>ui/game_s/button_testplay_status_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1881,352},{74,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,89}</string>
			</dict>
			<key>ui/game_s/button_testplay_status_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1972,262},{74,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,89}</string>
			</dict>
			<key>ui/game_s/button_testplay_status_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1972,355},{74,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,89}</string>
			</dict>
			<key>ui/game_s/icon_testplay_status_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1981,70},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ui/game_s/icon_testplay_status_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1981,134},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ui/game_s/icon_testplay_status_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1981,198},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ui/game_s/image_plate_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,379},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>ui/game_s/image_window_testplay.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,180},{750,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,111}</string>
			</dict>
			<key>ui/game_s/image_testplay_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1960,258},{8,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,153}</string>
			</dict>
			<key>ui/game_s/button_footer_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1873,969},{173,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,155}</string>
			</dict>
			<key>ui/game_s/button_footer_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1873,1128},{173,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,155}</string>
			</dict>
			<key>ui/game_s/button_footer_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,795},{173,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,155}</string>
			</dict>
			<key>ui/game_s/image_return_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1569,313},{72,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,57}</string>
			</dict>
			<key>ui/game_s/button_footer_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,911},{173,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,155}</string>
			</dict>
			<key>ui/game_s/image_return_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1569,374},{72,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,57}</string>
			</dict>
			<key>ui/game_s/button_change_level_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1525,552},{119,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,89}</string>
			</dict>
			<key>ui/game_s/button_change_level_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1525,645},{119,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,89}</string>
			</dict>
			<key>ui/game_s/button_change_level_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1881,445},{74,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,89}</string>
			</dict>
			<key>ui/game_s/icon_enemy_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1879,538},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ui/game_s/icon_enemy_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1569,488},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ui/game_s/icon_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{1859,602},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ui/game_s/image_window.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,1244},{212,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,68}</string>
			</dict>
			<key>ui/game_s/image_great.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,911},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,78}</string>
			</dict>
			<key>ui/game_s/button_square_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,613},{119,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,89}</string>
			</dict>
			<key>ui/game_s/button_square_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,706},{119,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,89}</string>
			</dict>
			<key>ui/game_s/image_arrow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,469},{33,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>
			<key>ui/game_s/image_arrow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,509},{33,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>
			<key>ui/game_s/image_charagauge_hp.png</key>
			<dict>
				<key>frame</key>
				<string>{{1733,1337},{304,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,22}</string>
			</dict>
			<key>ui/game_s/image_game_floor_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,1222},{282,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,68}</string>
			</dict>
			<key>ui/game_s/image_game_floor_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,258},{213,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,213}</string>
			</dict>
			<key>ui/game_s/image_game_floor_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,555},{76,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,26}</string>
			</dict>
			<key>ui/game_s/image_frame_combination_skill.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1151},{438,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{438,144}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_s.png</string>
			<key>realTextureFileName</key>
			<string>game_s.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>