<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/game_boss_description/boss_description_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{7,691},{4,742}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,742}</string>
			</dict>
			<key>ui/game_boss_description/boss_description_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{688,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{688,38}</string>
			</dict>
			<key>ui/game_boss_description/boss_warning_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,691},{4,1334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,1334}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_boss_description.png</string>
			<key>realTextureFileName</key>
			<string>game_boss_description.png</string>
			<key>size</key>
			<string>{64,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>