<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/common/common_popup_s/image_popup_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,289},{750,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,64}</string>
			</dict>
			<key>ui/common/common_popup_s/image_popup_header.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,399},{750,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,22}</string>
			</dict>
			<key>ui/common/common_popup_s/image_popup_footer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,355},{750,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,42}</string>
			</dict>
			<key>ui/common/common_popup_s/image_title_background_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,139},{351,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,72}</string>
			</dict>
			<key>ui/common/common_popup_s/button_important_cancel_m_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,261},{190,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,84}</string>
			</dict>
			<key>ui/common/common_popup_s/button_important_cancel_m_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,131},{190,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,84}</string>
			</dict>
			<key>ui/common/common_popup_s/button_important_cancel_m_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,347},{190,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,84}</string>
			</dict>
			<key>ui/common/common_popup_s/button_cancel_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>ui/common/common_popup_s/button_cancel_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,131},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>ui/common/common_popup_s/image_message_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,1},{300,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,136}</string>
			</dict>
			<key>ui/common/common_popup_s/button_generic_m_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,423},{190,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,84}</string>
			</dict>
			<key>ui/common/common_popup_s/button_generic_m_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,423},{190,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,84}</string>
			</dict>
			<key>ui/common/common_popup_s/button_generic_m_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,423},{190,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,84}</string>
			</dict>
			<key>ui/common/common_popup_s/image_status_line_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,261},{196,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,14}</string>
			</dict>
			<key>ui/common/common_popup_s/image_status_line_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,213},{196,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,14}</string>
			</dict>
			<key>ui/common/common_popup_s/image_swich_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,378},{76,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,66}</string>
			</dict>
			<key>ui/common/common_popup_s/tittle_configuration.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,423},{170,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,51}</string>
			</dict>
			<key>ui/common/common_popup_s/image_title_background_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,213},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>ui/common/common_popup_s/image_swich_content.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,433},{66,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,60}</string>
			</dict>
			<key>ui/common/common_popup_s/button_ok_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>ui/common/common_popup_s/button_ok_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>ui/common/common_popup_s/image_ef_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{286,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,286}</string>
			</dict>
			<key>ui/common/common_popup_s/image_plate_square.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,131},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>ui/common/common_popup_s/image_triangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,256},{42,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,30}</string>
			</dict>
			<key>ui/common/common_popup_s/image_bg_item_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,433},{63,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,54}</string>
			</dict>
			<key>ui/common_atlas_s/icon_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,217},{72,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,87}</string>
			</dict>
			<key>ui/common_s/icon_arrow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,256},{46,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,26}</string>
			</dict>
			<key>ui/common_s/button_selectbox_base_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,229},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>ui/common_s/button_selectbox_base_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,229},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>ui/common_s/button_selectbox_base_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,229},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>ui/common_s/icon_arrow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,256},{46,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,26}</string>
			</dict>
			<key>ui/common_s/icon_arrow_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,229},{46,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,26}</string>
			</dict>
			<key>ui/common/common_popup_s/icon_display.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,217},{57,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,33}</string>
			</dict>
			<key>ui/common/common_popup_s/icon_effect.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,306},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,70}</string>
			</dict>
			<key>ui/common/common_popup_s/image_plate_round.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,229},{26,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>common_popup_s.png</string>
			<key>realTextureFileName</key>
			<string>common_popup_s.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>