<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/common/common_list_small_s/button_arrow_m_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1888,1},{36,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,48}</string>
			</dict>
			<key>ui/common/common_list_small_s/button_arrow_m_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1820,43},{36,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,48}</string>
			</dict>
			<key>ui/common/common_list_small_s/image_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,1},{685,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{685,198}</string>
			</dict>
			<key>ui/common/common_list_small_s/image_list_description_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{1376,203},{622,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{622,40}</string>
			</dict>
			<key>ui/common/common_list_small_s/image_list_frame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,203},{686,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,178}</string>
			</dict>
			<key>ui/common/common_list_small_s/image_list_frame_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,383},{686,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,178}</string>
			</dict>
			<key>ui/common/common_list_small_s/image_list_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,401},{686,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,178}</string>
			</dict>
			<key>ui/common/common_list_small_s/image_list_story.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,201},{685,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{685,198}</string>
			</dict>
			<key>ui/common/common_list_small_s/image_list_story_frame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,563},{686,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,178}</string>
			</dict>
			<key>ui/common/common_list_small_s/image_list_unlock_m.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{686,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,200}</string>
			</dict>
			<key>ui/common/common_list_small_s/image_list_unlock_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,743},{686,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,178}</string>
			</dict>
			<key>ui/common/common_list_small_s/image_list_plate_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{1820,1},{66,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,40}</string>
			</dict>
			<key>ui/common/common_list_small_s/image_list_frame_gold_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,581},{686,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,178}</string>
			</dict>
			<key>ui/common/common_list_small_s/image_list_frame_gold_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,761},{686,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,178}</string>
			</dict>
			<key>ui/common/common_list_small_s/image_list_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1376,1},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>ui/common/common_list_small_s/image_list_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1523,1},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>ui/common/common_list_small_s/image_gray_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,1},{76,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>ui/common/common_list_small_s/image_key_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{1670,1},{70,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,84}</string>
			</dict>
			<key>ui/common/common_list_small_s/image_plate_plane_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1858,43},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>common_list_small_s.png</string>
			<key>realTextureFileName</key>
			<string>common_list_small_s.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>