<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/equip/image_equipment_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{678,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{678,240}</string>
			</dict>
			<key>ui/equip/image_popup_body_gradation.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,0},{470,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{470,100}</string>
			</dict>
			<key>ui/equip/image_sao_man.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,240},{394,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{394,390}</string>
			</dict>
			<key>ui/equip/image_sao_woman.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,470},{394,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{394,390}</string>
			</dict>
			<key>ui/equip/tittle_equipment.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,0},{133,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>equip_s.png</string>
			<key>realTextureFileName</key>
			<string>equip_s.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>