<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/exchange_shop_s/image_possession_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,513},{354,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,45}</string>
			</dict>
			<key>ui/exchange_shop_s/tittle_gift_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,566},{106,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,45}</string>
			</dict>
			<key>ui/exchange_shop_s/image_plate_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,216},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,49}</string>
			</dict>
			<key>ui/exchange_shop_s/button_category_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,560},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/exchange_shop_s/button_category_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,513},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/exchange_shop_s/button_category_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,513},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/exchange_shop_s/image_plate_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,302},{20,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,18}</string>
			</dict>
			<key>ui/exchange_shop_s/image_ef_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{510,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{510,510}</string>
			</dict>
			<key>ui/exchange_shop_s/image_ef_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,1},{433,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{433,510}</string>
			</dict>
			<key>ui/exchange_shop_s/image_badge_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,513},{108,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>ui/exchange_shop_s/image_badge_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,560},{108,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>ui/exchange_shop_s/image_bg_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,152},{10,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,50}</string>
			</dict>
			<key>ui/exchange_shop_s/image_plate_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,322},{50,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,30}</string>
			</dict>
			<key>ui/exchange_shop_s/icon_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,1},{72,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,87}</string>
			</dict>
			<key>ui/exchange_shop_s/image_plate_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,270},{37,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,30}</string>
			</dict>
			<key>ui/exchange_shop_s/image_plate_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,204},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>ui/exchange_shop_s/image_baloon_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,216},{22,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,52}</string>
			</dict>
			<key>ui/exchange_shop_s/image_baloon_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,267},{31,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,52}</string>
			</dict>
			<key>ui/exchange_shop_s/image_bg_item_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,90},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>ui/exchange_shop_s/image_plate_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,152},{60,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,62}</string>
			</dict>
			<key>ui/exchange_shop_s/title_exchange_market.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,513},{212,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,51}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>exchange_shop_s.png</string>
			<key>realTextureFileName</key>
			<string>exchange_shop_s.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>