<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/title/button_round_l_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,1},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,142}</string>
			</dict>
			<key>ui/title/button_round_l_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,145},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,142}</string>
			</dict>
			<key>ui/title/button_round_l_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,289},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,142}</string>
			</dict>
			<key>ui/title/button_support_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,433},{32,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,58}</string>
			</dict>
			<key>ui/title/button_support_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,433},{32,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,58}</string>
			</dict>
			<key>ui/title/button_support_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,433},{32,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,58}</string>
			</dict>
			<key>ui/title/link_start_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{436,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{436,204}</string>
			</dict>
			<key>ui/title/link_start_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,1},{436,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{436,204}</string>
			</dict>
			<key>ui/title/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,207},{280,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,42}</string>
			</dict>
			<key>ui/title/bne_logo_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,251},{132,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,114}</string>
			</dict>
			<key>ui/title/button_google_play_games.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,207},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>ui/title/button_google_plus_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,207},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>ui/title/button_generic_m_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,367},{190,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,84}</string>
			</dict>
			<key>ui/title/button_generic_m_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,337},{190,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,84}</string>
			</dict>
			<key>ui/title/button_generic_m_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,207},{190,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,84}</string>
			</dict>
			<key>ui/title/no_image.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,207},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>ui/title/button_google_play_games_sign_in.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,289},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>title.png</string>
			<key>realTextureFileName</key>
			<string>title.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>