<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/lottery_s/button_category_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,0},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,0},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,0},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,0},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_5_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,0},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,0},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,77},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_6_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,77},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/title_medal_scout.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,0},{155,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>lottery_medal.png</string>
			<key>realTextureFileName</key>
			<string>lottery_medal.png</string>
			<key>size</key>
			<string>{1024,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>