<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/lottery_s/image_bg_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{728,740}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{728,740}</string>
			</dict>
			<key>ui/lottery_s/image_lottery_retrial_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,600},{242,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,56}</string>
			</dict>
			<key>ui/lottery_s/tittle_scout.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,405},{80,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,45}</string>
			</dict>
			<key>ui/lottery_s/tittle_scout_result.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,1},{163,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,45}</string>
			</dict>
			<key>ui/lottery_s/tittle_weapon_result.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,753},{183,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,52}</string>
			</dict>
			<key>ui/lottery_s/tittle_weapon_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,938},{160,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,52}</string>
			</dict>
			<key>ui/lottery_s/image_popup_header_lottery.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,1},{750,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{750,70}</string>
			</dict>
			<key>ui/lottery_s/image_item_thumbnail_lighting.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,420},{154,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,178}</string>
			</dict>
			<key>ui/lottery_s/icon_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,291},{112,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,44}</string>
			</dict>
			<key>ui/lottery_s/image_character_bg_lottery.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1},{159,417}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,417}</string>
			</dict>
			<key>ui/lottery_s/image_time_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,558},{10,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,30}</string>
			</dict>
			<key>ui/lottery_s/image_time_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,487},{184,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,8}</string>
			</dict>
			<key>ui/lottery_s/button_odds_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,1248},{78,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>ui/lottery_s/button_odds_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,1296},{78,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>ui/lottery_s/image_scout_completion.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,166},{123,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,45}</string>
			</dict>
			<key>ui/lottery_s/button_testplay_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,600},{168,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,78}</string>
			</dict>
			<key>ui/lottery_s/button_testplay_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,753},{168,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,78}</string>
			</dict>
			<key>ui/lottery_s/button_testplay_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,770},{168,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,78}</string>
			</dict>
			<key>ui/lottery_s/button_testplay_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,923},{168,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,78}</string>
			</dict>
			<key>ui/lottery_s/button_category_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,940},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,844},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,731},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,940},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,844},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,731},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,923},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,923},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,844},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/image_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,487},{69,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,32}</string>
			</dict>
			<key>ui/lottery_s/image_background_medal.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,558},{20,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,42}</string>
			</dict>
			<key>ui/lottery_s/image_plate_info_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,1164},{113,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,82}</string>
			</dict>
			<key>ui/lottery_s/image_plate_info_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,1242},{113,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,82}</string>
			</dict>
			<key>ui/lottery_s/image_plate_info_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,1212},{113,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,82}</string>
			</dict>
			<key>ui/lottery_s/button_category_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,731},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,923},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,923},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,844},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_7_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,731},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,923},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/button_category_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,731},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>ui/lottery_s/tittle_event_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,731},{160,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,52}</string>
			</dict>
			<key>ui/lottery_s/image_plate_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,590},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>ui/lottery_s/image_plate_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,1329},{60,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,62}</string>
			</dict>
			<key>ui/lottery_s/image_bg_item_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,844},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>
			<key>ui/lottery_s/image_ef_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1093},{510,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{510,510}</string>
			</dict>
			<key>ui/lottery_s/button_category_df_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,882},{147,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,73}</string>
			</dict>
			<key>ui/lottery_s/button_category_df_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,914},{147,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,73}</string>
			</dict>
			<key>ui/lottery_s/button_category_df_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,1031},{147,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,73}</string>
			</dict>
			<key>ui/lottery_s/button_category_df_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,940},{147,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,73}</string>
			</dict>
			<key>ui/lottery_s/button_category_df_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,1063},{147,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,73}</string>
			</dict>
			<key>ui/lottery_s/button_category_df_4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,1180},{147,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,73}</string>
			</dict>
			<key>ui/lottery_s/button_category_df_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,1089},{147,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,73}</string>
			</dict>
			<key>ui/lottery_s/button_category_df_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1093},{147,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,73}</string>
			</dict>
			<key>ui/lottery_s/button_category_df_5_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,1100},{147,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,73}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>lottery_s.png</string>
			<key>realTextureFileName</key>
			<string>lottery_s.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>