<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/quest/quest_s/image_clear_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,905},{750,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,112}</string>
			</dict>
			<key>ui/quest/quest_s/image_pt_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,975},{286,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,46}</string>
			</dict>
			<key>ui/quest/quest_s/button_switch_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,604},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>ui/quest/quest_s/button_switch_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1107,881},{142,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,84}</string>
			</dict>
			<key>ui/quest/quest_s/button_switch_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,604},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>ui/quest/quest_s/icon_event_cleared.png</key>
			<dict>
				<key>frame</key>
				<string>{{1352,950},{128,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,52}</string>
			</dict>
			<key>ui/quest/quest_s/icon_event_complete.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,529},{154,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,60}</string>
			</dict>
			<key>ui/quest/quest_s/icon_event_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,381},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>
			<key>ui/quest/quest_s/image_period_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,275},{176,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,52}</string>
			</dict>
			<key>ui/quest/quest_world_select/title_worldmap.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,967},{132,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,52}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_quest_plate_clearnum.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,619},{109,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,33}</string>
			</dict>
			<key>ui/quest/quest_world_select/button_level_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,901},{175,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,80}</string>
			</dict>
			<key>ui/quest/quest_world_select/button_level_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,893},{175,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,80}</string>
			</dict>
			<key>ui/quest/quest_world_select/button_level_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,275},{175,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,80}</string>
			</dict>
			<key>ui/quest/quest_world_select/button_level_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,453},{175,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,80}</string>
			</dict>
			<key>ui/quest/quest_world_select/button_level_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,357},{175,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,80}</string>
			</dict>
			<key>ui/quest/quest_world_select/button_level_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,535},{175,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,80}</string>
			</dict>
			<key>ui/quest/quest_world_select/button_extra_quest_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,1},{381,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{381,112}</string>
			</dict>
			<key>ui/quest/quest_world_select/button_world_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,384},{191,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,105}</string>
			</dict>
			<key>ui/quest/quest_world_select/quest_episode_unlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{689,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{689,224}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_quest_plate_chapter_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1251,860},{135,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,88}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_quest_plate_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,1},{626,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{626,44}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_quest_plate_chapter_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,1},{135,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,88}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_quest_plate_chapter_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,138},{135,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,88}</string>
			</dict>
			<key>ui/quest/quest_s/image_icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,654},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>ui/quest/quest_s/image_icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,654},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>ui/quest/quest_s/button_treasurebox_b_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,681},{218,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{218,173}</string>
			</dict>
			<key>ui/quest/quest_s/image_announce_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,577},{100,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,40}</string>
			</dict>
			<key>ui/quest/quest_s/image_rank_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,1},{80,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,147}</string>
			</dict>
			<key>ui/quest/quest_s/image_rank_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,150},{80,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,147}</string>
			</dict>
			<key>ui/quest/quest_s/image_rank_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,629},{300,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,50}</string>
			</dict>
			<key>ui/quest/quest_s/image_rank_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,1},{80,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,147}</string>
			</dict>
			<key>ui/quest/quest_s/image_rank_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,232},{80,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,147}</string>
			</dict>
			<key>ui/quest/quest_s/title_extra_quest.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,453},{160,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,47}</string>
			</dict>
			<key>ui/quest/quest_s/dummy_chapter_list_1001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,692},{676,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{676,211}</string>
			</dict>
			<key>ui/quest/quest_s/button_questboard_base_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,1},{272,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{272,262}</string>
			</dict>
			<key>ui/quest/quest_s/button_questboard_base_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,1},{272,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,262}</string>
			</dict>
			<key>ui/quest/quest_s/button_questboard_base_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,265},{272,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,262}</string>
			</dict>
			<key>ui/quest/quest_s/icon_guild_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,487},{115,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,113}</string>
			</dict>
			<key>ui/quest/quest_s/icon_guild_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,487},{115,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,113}</string>
			</dict>
			<key>ui/quest/quest_s/icon_guild_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,668},{115,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,113}</string>
			</dict>
			<key>ui/quest/quest_s/icon_serch_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,785},{94,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,128}</string>
			</dict>
			<key>ui/quest/quest_s/icon_serch_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,668},{94,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,128}</string>
			</dict>
			<key>ui/quest/quest_s/icon_serch_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,764},{94,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,128}</string>
			</dict>
			<key>ui/quest/quest_s/icon_party_edit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,529},{210,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,138}</string>
			</dict>
			<key>ui/quest/quest_s/icon_party_edit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,681},{210,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,138}</string>
			</dict>
			<key>ui/quest/quest_s/icon_party_edit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,275},{210,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>quest_s.png</string>
			<key>realTextureFileName</key>
			<string>quest_s.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>