<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/quest/quest_supporter/footer_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,461},{750,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,120}</string>
			</dict>
			<key>ui/quest/quest_supporter/scroll_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,303},{29,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,114}</string>
			</dict>
			<key>ui/quest/quest_supporter/scroll_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1},{10,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,30}</string>
			</dict>
			<key>ui/quest/quest_supporter/status_character_words_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,223},{317,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{317,131}</string>
			</dict>
			<key>ui/quest/quest_supporter/title_supporter.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,436},{134,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,52}</string>
			</dict>
			<key>ui/quest/quest_supporter/icon_follow.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,303},{178,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,48}</string>
			</dict>
			<key>ui/quest/quest_supporter/icon_follower.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,594},{178,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,48}</string>
			</dict>
			<key>ui/quest/quest_supporter/icon_friend.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,644},{178,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,48}</string>
			</dict>
			<key>ui/quest/quest_supporter/image_list_description.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,583},{622,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{622,40}</string>
			</dict>
			<key>ui/quest/quest_supporter/button_view_1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,356},{210,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,78}</string>
			</dict>
			<key>ui/quest/quest_supporter/button_view_1-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,356},{210,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,78}</string>
			</dict>
			<key>ui/quest/quest_supporter/button_view_2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,223},{210,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,78}</string>
			</dict>
			<key>ui/quest/quest_supporter/button_view_2-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,33},{210,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,78}</string>
			</dict>
			<key>ui/quest/quest_supporter/button_view_3-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,113},{210,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,78}</string>
			</dict>
			<key>ui/quest/quest_supporter/button_view_3-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,514},{210,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,78}</string>
			</dict>
			<key>ui/quest/quest_supporter/button_view_4-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,594},{210,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,78}</string>
			</dict>
			<key>ui/quest/quest_supporter/button_view_4-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,625},{210,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,78}</string>
			</dict>
			<key>ui/quest/quest_supporter/icon_supporter.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,419},{113,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,47}</string>
			</dict>
			<key>ui/quest/quest_supporter/image_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,468},{104,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,44}</string>
			</dict>
			<key>ui/quest/quest_supporter/image_quest_level_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,1},{100,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,28}</string>
			</dict>
			<key>ui/quest/quest_supporter/image_quest_level_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,193},{100,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,28}</string>
			</dict>
			<key>ui/quest/quest_supporter/image_quest_level_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,193},{100,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,28}</string>
			</dict>
			<key>ui/quest/quest_supporter/image_quest_title_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,353},{30,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,64}</string>
			</dict>
			<key>ui/quest/quest_supporter/image_quest_title_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,353},{30,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,64}</string>
			</dict>
			<key>ui/quest/quest_supporter/image_quest_title_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,490},{30,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,64}</string>
			</dict>
			<key>ui/quest/quest_supporter/image_supporter_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1},{338,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,220}</string>
			</dict>
			<key>ui/quest/quest_supporter/popup_body_gradation.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{470,458}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{470,458}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>quest_supporter.png</string>
			<key>realTextureFileName</key>
			<string>quest_supporter.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>