<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/quest/quest_world_select/button_extra_quest_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,179},{384,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,115}</string>
			</dict>
			<key>ui/quest/quest_world_select/button_extra_quest_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,296},{384,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,115}</string>
			</dict>
			<key>ui/quest/quest_world_select/button_extra_quest_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,413},{384,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,115}</string>
			</dict>
			<key>ui/quest/quest_world_select/button_square_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,722},{190,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,104}</string>
			</dict>
			<key>ui/quest/quest_world_select/button_square_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,828},{190,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,104}</string>
			</dict>
			<key>ui/quest/quest_world_select/button_square_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,577},{190,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,104}</string>
			</dict>
			<key>ui/quest/quest_world_select/button_square_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,577},{190,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,104}</string>
			</dict>
			<key>ui/quest/quest_world_select/button_difficulty_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,1},{32,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,40}</string>
			</dict>
			<key>ui/quest/quest_world_select/button_difficulty_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,1},{32,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,40}</string>
			</dict>
			<key>ui/quest/quest_world_select/button_difficulty_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,43},{32,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,40}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_quest_plate_chapter_cleared.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,179},{135,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,88}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_list_frame_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1},{202,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,190}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_list_frame_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,179},{202,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,190}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_list_frame_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,193},{202,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,190}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_list_frame_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,385},{202,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,190}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_list_frame_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,371},{202,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,190}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_list_frame_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,530},{202,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,190}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_list_frame_touch.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,563},{202,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,190}</string>
			</dict>
			<key>ui/quest/quest_world_select/quest_footer_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{750,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,176}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_missiion_cup_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,43},{30,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,35}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_missiion_cup_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,80},{30,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,35}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_mission_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,366},{126,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,39}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_mission_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,407},{126,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,39}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_mission_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,448},{126,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,39}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_mission_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,489},{126,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,39}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_mission_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,530},{126,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,39}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_mission_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,530},{126,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,39}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_mission_touch.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,269},{127,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,41}</string>
			</dict>
			<key>ui/quest/quest_world_select/image_mission_complete.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,571},{112,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,25}</string>
			</dict>
			<key>ui/quest/quest_world_select/icon_footer_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,312},{100,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>quest_world_select.png</string>
			<key>realTextureFileName</key>
			<string>quest_world_select.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>