<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/quest/quest_unlock_s/ball_org.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,63},{34,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,35}</string>
			</dict>
			<key>ui/quest/quest_unlock_s/ball_wt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,208},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>ui/quest/quest_unlock_s/doteff_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,1},{194,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,92}</string>
			</dict>
			<key>ui/quest/quest_unlock_s/doteff_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,95},{194,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,91}</string>
			</dict>
			<key>ui/quest/quest_unlock_s/doteff_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,230},{32,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,24}</string>
			</dict>
			<key>ui/quest/quest_unlock_s/doteff_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,230},{39,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,21}</string>
			</dict>
			<key>ui/quest/quest_unlock_s/doteff_e.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,188},{113,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,35}</string>
			</dict>
			<key>ui/quest/quest_unlock_s/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,100},{57,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,106}</string>
			</dict>
			<key>ui/quest/quest_unlock_s/lock_eff.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,1},{35,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,60}</string>
			</dict>
			<key>ui/quest/quest_unlock_s/rainbow_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,180},{61,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,48}</string>
			</dict>
			<key>ui/quest/quest_unlock_s/rainbow_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,188},{58,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,41}</string>
			</dict>
			<key>ui/quest/quest_unlock_s/ring_rainbow.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,1},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>ui/quest/quest_unlock_s/ring_wt.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,208},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>ui/quest/quest_unlock_s/image_list_unlock_m.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,227},{681,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{681,199}</string>
			</dict>
			<key>ui/quest/quest_unlock_s/image_unlock_condition.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,227},{117,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,30}</string>
			</dict>
			<key>ui/quest/quest_unlock_s/icon_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,91},{72,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,87}</string>
			</dict>
			<key>ui/quest/quest_unlock_s/quest_episode_unlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{689,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{689,224}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>quest_unlock_s.png</string>
			<key>realTextureFileName</key>
			<string>quest_unlock_s.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>