<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/quest/quest_party_confirmation/button_picture_recording_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,189},{58,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,48}</string>
			</dict>
			<key>ui/quest/quest_party_confirmation/button_picture_recording_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,189},{58,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,48}</string>
			</dict>
			<key>ui/quest/quest_party_confirmation/button_picture_recording_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,187},{58,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,48}</string>
			</dict>
			<key>ui/quest/quest_party_confirmation/image_difficulty_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,147},{100,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,40}</string>
			</dict>
			<key>ui/quest/quest_party_confirmation/image_difficulty_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,147},{72,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,38}</string>
			</dict>
			<key>ui/quest/quest_party_confirmation/image_difficulty_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,455},{108,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,38}</string>
			</dict>
			<key>ui/quest/quest_party_confirmation/title_choose_party.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,401},{165,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,52}</string>
			</dict>
			<key>ui/quest/quest_party_confirmation/icon_supporter.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,455},{113,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,47}</string>
			</dict>
			<key>ui/quest/quest_party_confirmation/image_battle_information_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{313,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,252}</string>
			</dict>
			<key>ui/quest/quest_party_confirmation/button_story_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,401},{194,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>
			<key>ui/quest/quest_party_confirmation/button_story_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,401},{194,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,90}</string>
			</dict>
			<key>ui/quest/quest_party_confirmation/button_boost_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,255},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>ui/quest/quest_party_confirmation/button_boost_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,255},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>ui/quest/quest_party_confirmation/button_boost_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,255},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>ui/quest/quest_party_confirmation/button_boost_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,1},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>ui/quest/quest_party_confirmation/button_boost_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,1},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>ui/quest/quest_party_confirmation/button_boost_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,237},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>ui/quest/quest_party_confirmation/image_list_plate_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,147},{90,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,29}</string>
			</dict>
			<key>ui/quest/quest_party_confirmation/image_list_plate_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,178},{90,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>quest_party_confirmation.png</string>
			<key>realTextureFileName</key>
			<string>quest_party_confirmation.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>