<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/quest/quest_event/image_background_medal.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,483},{20,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,42}</string>
			</dict>
			<key>ui/quest/quest_event/image_hexagon_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,203},{166,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,186}</string>
			</dict>
			<key>ui/quest/quest_event/image_plate_grd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,493},{302,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,3}</string>
			</dict>
			<key>ui/quest/quest_event/image_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,508},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>ui/quest/quest_event/image_ranking_period_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,408},{176,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,52}</string>
			</dict>
			<key>ui/quest/quest_event/image_date_base_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>ui/quest/quest_event/image_date_base_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,59},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>ui/quest/quest_event/image_hexagon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1},{166,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,186}</string>
			</dict>
			<key>ui/quest/quest_event/image_background_holding_period.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{490,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{490,98}</string>
			</dict>
			<key>ui/quest/quest_event/image_clear.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,462},{75,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,44}</string>
			</dict>
			<key>ui/quest/quest_event/image_base_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,1},{370,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,127}</string>
			</dict>
			<key>ui/quest/quest_event/image_hexagon.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,1},{66,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,57}</string>
			</dict>
			<key>ui/quest/quest_event/icon_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,371},{100,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,52}</string>
			</dict>
			<key>ui/quest/quest_event/image_story_clear.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,371},{96,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,102}</string>
			</dict>
			<key>ui/quest/quest_event/image_icon_exchange_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,462},{42,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,40}</string>
			</dict>
			<key>ui/quest/quest_event/image_icon_exchange_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,462},{42,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,40}</string>
			</dict>
			<key>ui/quest/quest_event/image_icon_help_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,483},{20,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,39}</string>
			</dict>
			<key>ui/quest/quest_event/image_icon_help_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,483},{20,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,39}</string>
			</dict>
			<key>ui/quest/quest_event/image_guild_ground.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,425},{214,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,56}</string>
			</dict>
			<key>ui/quest/quest_event/image_blooming.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,373},{114,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,33}</string>
			</dict>
			<key>ui/quest/quest_event/image_guild_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,498},{8,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{8,4}</string>
			</dict>
			<key>ui/quest/quest_event/icon_guird_crown.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,203},{25,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,14}</string>
			</dict>
			<key>ui/quest/quest_event/image_thumbnail_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,1},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>quest_event.png</string>
			<key>realTextureFileName</key>
			<string>quest_event.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>