<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/quest/quest_selection_s/image_trophy_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1945,93},{78,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,87}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_trophy_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1805,490},{78,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,87}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_trophy_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1915,508},{78,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,87}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_cleared_rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,893},{227,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,52}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_cleared_rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,893},{227,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,52}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_cleared_rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,908},{227,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,52}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_cleared_rank_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1371,928},{227,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,52}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_trophy_gray_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1799,579},{78,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,87}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_trophy_gray_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1879,597},{78,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,87}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_trophy_gray_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,607},{78,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,87}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_trophy_gray_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,152},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_trophy_gray_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,199},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_trophy_gray_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,246},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_trophy_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,293},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_trophy_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,340},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_trophy_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,387},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_quest_background_frame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{687,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{687,219}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_quest_background_frame_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,1},{687,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{687,219}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_frame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,222},{681,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{681,199}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_frame_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,222},{681,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{681,199}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,982},{686,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,178}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_complete.png</key>
			<dict>
				<key>frame</key>
				<string>{{1436,844},{170,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,82}</string>
			</dict>
			<key>ui/quest/quest_selection_s/line_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,962},{655,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{655,3}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_icon_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1739,526},{58,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,108}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_cleared_story.png</key>
			<dict>
				<key>frame</key>
				<string>{{1600,971},{227,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,52}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,423},{681,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{681,199}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_condition.png</key>
			<dict>
				<key>frame</key>
				<string>{{1739,636},{54,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,30}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_mission.png</key>
			<dict>
				<key>frame</key>
				<string>{{1829,971},{182,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,36}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_mission_complete_m.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,515},{160,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,102}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_mission_trophy_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1885,490},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_mission_trophy_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1885,523},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_mission_trophy_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1885,556},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_mission_trophy_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1995,508},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_mission_trophy_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1995,541},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_mission_trophy_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1995,574},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{1719,724},{64,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,37}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1829,1},{114,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,161}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1817,164},{114,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,161}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1933,182},{114,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,161}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_rank_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1805,327},{114,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,161}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,650},{69,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,51}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,650},{69,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,51}</string>
			</dict>
			<key>ui/quest/quest_selection_s/title_quest.png</key>
			<dict>
				<key>frame</key>
				<string>{{1941,696},{81,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,47}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_frame_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,423},{681,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{681,199}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_frame_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,624},{681,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{681,199}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_plate_quest_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1529,515},{208,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,75}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_plate_quest_cleared.png</key>
			<dict>
				<key>frame</key>
				<string>{{1529,592},{208,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,75}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_plate_quest_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,669},{208,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,75}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_plate_quest_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1785,745},{208,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,75}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_rank_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1921,345},{114,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,161}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_mission_complete_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,703},{88,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,20}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_announce.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,825},{558,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{558,66}</string>
			</dict>
			<key>ui/quest/quest_selection_s/button_view_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,746},{190,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,79}</string>
			</dict>
			<key>ui/quest/quest_selection_s/button_view_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1559,763},{190,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,79}</string>
			</dict>
			<key>ui/quest/quest_selection_s/button_view_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1751,822},{190,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,79}</string>
			</dict>
			<key>ui/quest/quest_selection_s/button_view_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,827},{190,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,79}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,624},{681,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{681,199}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,825},{681,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{681,199}</string>
			</dict>
			<key>ui/quest/quest_selection_s/icon_duel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1945,1},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_plate_lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,619},{142,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,29}</string>
			</dict>
			<key>ui/quest/quest_selection_s/button_main_quest_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1379,152},{390,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,119}</string>
			</dict>
			<key>ui/quest/quest_selection_s/button_main_quest_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,273},{390,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,119}</string>
			</dict>
			<key>ui/quest/quest_selection_s/button_main_quest_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,394},{390,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,119}</string>
			</dict>
			<key>ui/quest/quest_selection_s/icon_bg_cost.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,434},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>ui/quest/quest_selection_s/icon_bg_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,480},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_announce_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,903},{410,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,66}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_gate_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{1379,1},{448,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{448,149}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_gate_mission_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1739,668},{99,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,54}</string>
			</dict>
			<key>ui/quest/quest_selection_s/image_list_gate_mission_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,686},{99,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>quest_selection_s.png</string>
			<key>realTextureFileName</key>
			<string>quest_selection_s.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>