<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/ability_board_s/button_ability_board_freed.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,947},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_freed_active_passive.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,795},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_freed_attack.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,875},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_freed_critical.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,919},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_freed_defense.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,955},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_freed_hp.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1035},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_freed_limit_break_attack.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1115},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_freed_limit_break_hp_defense.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1195},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_freed_limit_break_mp_skill.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,1275},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_freed_mp.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1245},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1245},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_not_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1093},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_not_open_active_passive.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1295},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_not_open_attack.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1325},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_not_open_critical.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,1301},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_not_open_defense.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,1301},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_not_open_hp.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,1355},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_not_open_limit_break_attack.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1375},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_not_open_limit_break_hp_defense.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1405},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_not_open_limit_break_mp_skill.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1435},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_not_open_mp.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1455},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_question.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1297},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_release.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1099},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_release_active_passive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1485},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_release_attack.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1515},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_release_critical.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1535},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_release_defense.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1565},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_release_hp.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,1521},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_release_limit_break_attack.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1595},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_release_limit_break_hp_defense.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1615},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_release_limit_break_mp_skill.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1645},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_release_mp.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1521},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/image_ability_board_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,1381},{168,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,84}</string>
			</dict>
			<key>ui/ability_board_s/image_bg_status.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,1},{14,406}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,406}</string>
			</dict>
			<key>ui/ability_board_s/image_bg_status_man.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{390,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,395}</string>
			</dict>
			<key>ui/ability_board_s/image_bg_status_woman.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,398},{390,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,395}</string>
			</dict>
			<key>ui/ability_board_s/image_line_freed_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,409},{14,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,170}</string>
			</dict>
			<key>ui/ability_board_s/image_line_freed_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,999},{116,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,80}</string>
			</dict>
			<key>ui/ability_board_s/image_line_freed_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,1761},{218,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,14}</string>
			</dict>
			<key>ui/ability_board_s/image_line_not_open_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,581},{14,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,170}</string>
			</dict>
			<key>ui/ability_board_s/image_line_not_open_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,1081},{116,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,80}</string>
			</dict>
			<key>ui/ability_board_s/image_line_not_open_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,1777},{218,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,14}</string>
			</dict>
			<key>ui/ability_board_s/image_line_release_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,753},{14,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,170}</string>
			</dict>
			<key>ui/ability_board_s/image_line_release_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,1163},{116,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,80}</string>
			</dict>
			<key>ui/ability_board_s/image_line_release_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,1793},{218,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,14}</string>
			</dict>
			<key>ui/ability_board_s/image_status_label_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,1245},{124,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,54}</string>
			</dict>
			<key>ui/ability_board_s/image_status_label_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,1239},{124,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,54}</string>
			</dict>
			<key>ui/ability_board_s/tittle_ability_board.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,1467},{210,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,52}</string>
			</dict>
			<key>ui/ability_board_s/button_limt_break_attack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ability_board_s/button_limt_break_attack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,103},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ability_board_s/button_limt_break_attack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,205},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ability_board_s/button_limt_break_hp_defense_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,307},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ability_board_s/button_limt_break_hp_defense_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,409},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ability_board_s/button_limt_break_hp_defense_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,511},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ability_board_s/button_limt_break_mp_skill_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,613},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ability_board_s/button_limt_break_mp_skill_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,715},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ability_board_s/button_limt_break_mp_skill_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,817},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ability_board_s/button_round_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,795},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>ui/ability_board_s/button_round_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,795},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>ui/ability_board_s/button_round_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,947},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_freed_ability_iiberation.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1521},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_not_open_ability_iiberation.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,1601},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_release_ability_iiberation.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1675},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_freed_combination_skill.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1695},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_freed_leader_skill.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1725},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_not_open_combination_skill.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1601},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_not_open_leader_skill.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1601},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_release_combination_skill.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,1681},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>ui/ability_board_s/button_ability_board_release_leader_skill.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1755},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ability_board_s.png</string>
			<key>realTextureFileName</key>
			<string>ability_board_s.png</string>
			<key>size</key>
			<string>{512,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>