<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/policy_s/button_generic_m_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,212},{203,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,95}</string>
			</dict>
			<key>ui/policy_s/button_generic_m_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,212},{203,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,95}</string>
			</dict>
			<key>ui/policy_s/button_generic_m_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,212},{203,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,95}</string>
			</dict>
			<key>ui/policy_s/button_important_ok_l_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{220,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,106}</string>
			</dict>
			<key>ui/policy_s/button_important_ok_l_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,106},{220,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,106}</string>
			</dict>
			<key>ui/policy_s/button_important_ok_l_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,106},{220,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,106}</string>
			</dict>
			<key>ui/policy_s/title_others.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,307},{92,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,45}</string>
			</dict>
			<key>ui/policy_s/image_popup_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{750,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,64}</string>
			</dict>
			<key>ui/policy_s/image_popup_header.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,352},{750,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,22}</string>
			</dict>
			<key>ui/policy_s/image_popup_footer.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,64},{750,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,42}</string>
			</dict>
			<key>ui/policy_s/button_ok_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,106},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>ui/policy_s/button_ok_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,234},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>ui/policy_s/button_important_cancel_l_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,106},{220,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,106}</string>
			</dict>
			<key>ui/policy_s/button_important_cancel_l_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,106},{220,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,106}</string>
			</dict>
			<key>ui/policy_s/button_important_cancel_l_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,212},{220,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,106}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>policy_s.png</string>
			<key>realTextureFileName</key>
			<string>policy_s.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>