<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/blacksmith_s/button_evolution_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,1178},{78,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,84}</string>
			</dict>
			<key>ui/blacksmith_s/button_evolution_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1625},{78,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,84}</string>
			</dict>
			<key>ui/blacksmith_s/button_evolution_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1711},{78,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,84}</string>
			</dict>
			<key>ui/blacksmith_s/button_parallelogram_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1833},{263,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,127}</string>
			</dict>
			<key>ui/blacksmith_s/button_parallelogram_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,1833},{263,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,127}</string>
			</dict>
			<key>ui/blacksmith_s/button_parallelogram_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1094},{263,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,127}</string>
			</dict>
			<key>ui/blacksmith_s/button_sell_equipments_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1625},{78,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,84}</string>
			</dict>
			<key>ui/blacksmith_s/button_sell_equipments_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1711},{78,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,84}</string>
			</dict>
			<key>ui/blacksmith_s/button_sell_equipments_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1625},{78,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,84}</string>
			</dict>
			<key>ui/blacksmith_s/button_upgrade_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1711},{78,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,84}</string>
			</dict>
			<key>ui/blacksmith_s/button_upgrade_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,1625},{78,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,84}</string>
			</dict>
			<key>ui/blacksmith_s/button_upgrade_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,1711},{78,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,84}</string>
			</dict>
			<key>ui/blacksmith_s/image_blooming_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,1},{538,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{538,248}</string>
			</dict>
			<key>ui/blacksmith_s/image_blooming_slim.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1223},{608,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{608,74}</string>
			</dict>
			<key>ui/blacksmith_s/image_footer_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,541},{18,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,318}</string>
			</dict>
			<key>ui/blacksmith_s/image_seal_blooming.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,995},{208,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,60}</string>
			</dict>
			<key>ui/blacksmith_s/tittle_lisdeths_smith_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,739},{254,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,52}</string>
			</dict>
			<key>ui/blacksmith_s/tittle_smith_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1223},{142,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,52}</string>
			</dict>
			<key>ui/blacksmith_s/image_popup_body_possessions_sale.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,541},{740,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{740,64}</string>
			</dict>
			<key>ui/blacksmith_s/image_popup_footer_possessions_sale.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,1},{736,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{736,52}</string>
			</dict>
			<key>ui/blacksmith_s/tittle_sell_equipments.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,1962},{198,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,52}</string>
			</dict>
			<key>ui/blacksmith_s/tittle_upgrade.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,1935},{106,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,52}</string>
			</dict>
			<key>ui/blacksmith_s/image_arms_grow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1283},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>ui/blacksmith_s/image_congratulations.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,541},{551,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{551,149}</string>
			</dict>
			<key>ui/blacksmith_s/image_material_material_plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,1094},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>ui/blacksmith_s/image_popup_body_gradation.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1833},{470,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{470,100}</string>
			</dict>
			<key>ui/blacksmith_s/image_result_glory.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{716,618}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{716,618}</string>
			</dict>
			<key>ui/blacksmith_s/image_tittle_background_s_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,2003},{132,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,36}</string>
			</dict>
			<key>ui/blacksmith_s/line_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,541},{680,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{680,10}</string>
			</dict>
			<key>ui/blacksmith_s/tittle_equipment_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,1962},{218,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,52}</string>
			</dict>
			<key>ui/blacksmith_s/tittle_evolution.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1719},{120,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,45}</string>
			</dict>
			<key>ui/blacksmith_s/tittle_equipment.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,1962},{133,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,52}</string>
			</dict>
			<key>ui/blacksmith_s/image_plate_grd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2003},{180,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,38}</string>
			</dict>
			<key>ui/blacksmith_s/image_plate_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1625},{92,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,61}</string>
			</dict>
			<key>ui/blacksmith_s/title_exchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,1223},{119,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,51}</string>
			</dict>
			<key>ui/blacksmith_s/image_plate_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,2003},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>ui/blacksmith_s/image_announce_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1935},{410,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,66}</string>
			</dict>
			<key>ui/blacksmith_s/image_plate_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,2003},{36,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>blacksmith_s.png</string>
			<key>realTextureFileName</key>
			<string>blacksmith_s.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>