<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/party_s/title_party.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,697},{80,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,51}</string>
			</dict>
			<key>ui/party_s/character_thumbnail_bg_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1},{240,877}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,877}</string>
			</dict>
			<key>ui/party_s/character_thumbnail_gradation_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,880},{197,546}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,546}</string>
			</dict>
			<key>ui/party_s/tittle_character_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,377},{184,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,45}</string>
			</dict>
			<key>ui/party_s/tittle_party_edit.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,563},{132,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,51}</string>
			</dict>
			<key>ui/party_s/image_party_cost_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1},{374,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{374,46}</string>
			</dict>
			<key>ui/party_s/image_deck_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{718,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{718,336}</string>
			</dict>
			<key>ui/party_s/button_abilityboard_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,339},{132,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,118}</string>
			</dict>
			<key>ui/party_s/button_abilityboard_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,459},{132,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,118}</string>
			</dict>
			<key>ui/party_s/button_abilityboard_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,579},{132,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,118}</string>
			</dict>
			<key>ui/party_s/button_skillslot_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,713},{132,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,118}</string>
			</dict>
			<key>ui/party_s/button_skillslot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,339},{132,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,118}</string>
			</dict>
			<key>ui/party_s/button_skillslot_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,339},{132,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,118}</string>
			</dict>
			<key>ui/party_s/button_weapon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,534},{132,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,118}</string>
			</dict>
			<key>ui/party_s/button_weapon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,339},{132,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,118}</string>
			</dict>
			<key>ui/party_s/button_weapon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,339},{132,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,118}</string>
			</dict>
			<key>ui/party_s/icon_chara_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,779},{59,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,49}</string>
			</dict>
			<key>ui/party_s/icon_chara_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,830},{59,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,49}</string>
			</dict>
			<key>ui/party_s/icon_chara_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,473},{59,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,49}</string>
			</dict>
			<key>ui/party_s/icon_upgrade_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,473},{45,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,49}</string>
			</dict>
			<key>ui/party_s/icon_upgrade_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,473},{45,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,49}</string>
			</dict>
			<key>ui/party_s/icon_upgrade_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,339},{45,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,49}</string>
			</dict>
			<key>ui/party_s/image_plate.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,1},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>ui/party_s/image_plate_cost.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,403},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>ui/party_s/image_button_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,473},{107,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,95}</string>
			</dict>
			<key>ui/party_s/button_weapon_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,459},{132,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,118}</string>
			</dict>
			<key>ui/party_s/image_attention_event_bg_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,339},{62,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>party_s.png</string>
			<key>realTextureFileName</key>
			<string>party_s.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>