<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/slot_skill/image_skill_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,619},{168,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,230}</string>
			</dict>
			<key>ui/slot_skill/image_skill_ef_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{307,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,307}</string>
			</dict>
			<key>ui/slot_skill/image_skill_ef_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,310},{307,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,307}</string>
			</dict>
			<key>ui/slot_skill/image_plate.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,991},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>ui/slot_skill/image_plate_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,991},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>ui/slot_skill/image_plate_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,851},{139,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,92}</string>
			</dict>
			<key>ui/slot_skill/title_skillslot.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,971},{114,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,45}</string>
			</dict>
			<key>ui/slot_skill/button_slot_skill_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,871},{132,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,118}</string>
			</dict>
			<key>ui/slot_skill/button_slot_skill_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,871},{132,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,118}</string>
			</dict>
			<key>ui/slot_skill/button_slot_skill_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,851},{132,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,118}</string>
			</dict>
			<key>ui/slot_skill/image_skill_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,619},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>slot_skill.png</string>
			<key>realTextureFileName</key>
			<string>slot_skill.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>