<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/quest_board_s/picker_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,147},{50,478}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,478}</string>
			</dict>
			<key>ui/quest_board_s/image_name_entry_column_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,1331},{336,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,96}</string>
			</dict>
			<key>ui/quest_board_s/image_event_name_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,808},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>ui/quest_board_s/image_gage_background_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1132},{160,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,56}</string>
			</dict>
			<key>ui/quest_board_s/image_gage_hp_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,1},{2,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,9}</string>
			</dict>
			<key>ui/quest_board_s/image_gage_mp_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,12},{2,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,9}</string>
			</dict>
			<key>ui/quest_board_s/image_gesture_sentence_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{508,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{508,144}</string>
			</dict>
			<key>ui/quest_board_s/image_gesture_sentence_choice.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1},{508,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{508,144}</string>
			</dict>
			<key>ui/quest_board_s/image_message_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,1193},{300,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,136}</string>
			</dict>
			<key>ui/quest_board_s/image_message_tittle_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1045},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>ui/quest_board_s/image_preparation_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1306},{210,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,40}</string>
			</dict>
			<key>ui/quest_board_s/image_preparation_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,1310},{210,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,40}</string>
			</dict>
			<key>ui/quest_board_s/tittle_friend_party.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1348},{162,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,51}</string>
			</dict>
			<key>ui/quest_board_s/tittle_quest_board.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1352},{156,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,47}</string>
			</dict>
			<key>ui/quest_board_s/tittle_recommended_party.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1190},{246,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,51}</string>
			</dict>
			<key>ui/quest_board_s/tittle_sortie.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,878},{85,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,45}</string>
			</dict>
			<key>ui/quest_board_s/image_unlimited.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,411},{212,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,212}</string>
			</dict>
			<key>ui/quest_board_s/image_number_limited.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,411},{212,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,212}</string>
			</dict>
			<key>ui/quest_board_s/image_friend_limited.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,411},{212,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,212}</string>
			</dict>
			<key>ui/quest_board_s/image_title_follow_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,1157},{106,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,46}</string>
			</dict>
			<key>ui/quest_board_s/image_title_follower_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,1202},{106,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,46}</string>
			</dict>
			<key>ui/quest_board_s/image_title_friend_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,1205},{106,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,46}</string>
			</dict>
			<key>ui/quest_board_s/image_quest_board_party_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,390},{10,344}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,344}</string>
			</dict>
			<key>ui/quest_board_s/button_questboard_base_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,147},{272,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,262}</string>
			</dict>
			<key>ui/quest_board_s/button_questboard_base_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,147},{272,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,262}</string>
			</dict>
			<key>ui/quest_board_s/button_questboard_base_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,147},{272,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,262}</string>
			</dict>
			<key>ui/quest_board_s/icon_friend_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,1081},{139,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,110}</string>
			</dict>
			<key>ui/quest_board_s/icon_friend_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,1045},{139,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,110}</string>
			</dict>
			<key>ui/quest_board_s/icon_friend_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,1090},{139,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,110}</string>
			</dict>
			<key>ui/quest_board_s/icon_guild_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,798},{137,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,135}</string>
			</dict>
			<key>ui/quest_board_s/icon_guild_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,995},{137,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,135}</string>
			</dict>
			<key>ui/quest_board_s/icon_guild_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,1056},{137,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,135}</string>
			</dict>
			<key>ui/quest_board_s/icon_number_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1000},{213,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,100}</string>
			</dict>
			<key>ui/quest_board_s/icon_number_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1102},{213,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,100}</string>
			</dict>
			<key>ui/quest_board_s/icon_number_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1204},{213,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,100}</string>
			</dict>
			<key>ui/quest_board_s/icon_serch_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,426},{94,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,128}</string>
			</dict>
			<key>ui/quest_board_s/icon_serch_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,556},{94,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,128}</string>
			</dict>
			<key>ui/quest_board_s/icon_serch_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,686},{94,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,128}</string>
			</dict>
			<key>ui/quest_board_s/image_matching_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,627},{405,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{405,85}</string>
			</dict>
			<key>ui/quest_board_s/icon_matching_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,1043},{45,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,36}</string>
			</dict>
			<key>ui/quest_board_s/icon_matching_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,1043},{45,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,36}</string>
			</dict>
			<key>ui/quest_board_s/icon_matching_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,1052},{45,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,36}</string>
			</dict>
			<key>ui/quest_board_s/image_footer_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,147},{20,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,241}</string>
			</dict>
			<key>ui/quest_board_s/image_footer_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,390},{10,344}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,344}</string>
			</dict>
			<key>ui/quest_board_s/image_plate_clear.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,609},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>ui/quest_board_s/image_plate_message.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,1243},{253,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,77}</string>
			</dict>
			<key>ui/quest_board_s/image_plate_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,627},{71,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,77}</string>
			</dict>
			<key>ui/quest_board_s/image_quest_level_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,1250},{100,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,28}</string>
			</dict>
			<key>ui/quest_board_s/image_quest_level_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,1253},{100,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,28}</string>
			</dict>
			<key>ui/quest_board_s/image_quest_level_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,1280},{100,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,28}</string>
			</dict>
			<key>ui/quest_board_s/image_quest_title_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,411},{30,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,64}</string>
			</dict>
			<key>ui/quest_board_s/image_quest_title_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,477},{30,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,64}</string>
			</dict>
			<key>ui/quest_board_s/image_quest_title_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,543},{30,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,64}</string>
			</dict>
			<key>ui/quest_board_s/button_boost_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,411},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>ui/quest_board_s/button_boost_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,557},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>ui/quest_board_s/button_boost_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,703},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>ui/quest_board_s/button_boost_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,849},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>ui/quest_board_s/button_boost_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,910},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>ui/quest_board_s/button_boost_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,935},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>ui/quest_board_s/image_list_plate_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,1012},{90,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,29}</string>
			</dict>
			<key>ui/quest_board_s/icon_baloon_friend.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,925},{61,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,46}</string>
			</dict>
			<key>ui/quest_board_s/icon_baloon_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,973},{70,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,37}</string>
			</dict>
			<key>ui/quest_board_s/image_human.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,147},{119,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,277}</string>
			</dict>
			<key>ui/quest_board_s/image_baloon.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,706},{103,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,90}</string>
			</dict>
			<key>ui/quest_board_s/icon_baloon_guild.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,1000},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>ui/quest_board_s/icon_party_edit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,625},{210,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,138}</string>
			</dict>
			<key>ui/quest_board_s/icon_party_edit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,765},{210,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,138}</string>
			</dict>
			<key>ui/quest_board_s/icon_party_edit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,905},{210,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,138}</string>
			</dict>
			<key>ui/quest_board_s/tittle_guild_party.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,1322},{150,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,52}</string>
			</dict>
			<key>ui/quest_board_s/button_questboard_base_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,736},{272,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,262}</string>
			</dict>
			<key>ui/quest_board_s/button_send_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,714},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>ui/quest_board_s/button_send_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,816},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>quest_board_s.png</string>
			<key>realTextureFileName</key>
			<string>quest_board_s.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>